*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color: #1c56a8;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.subcontenedor{
    width: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgb(63, 58, 126);
}

.contenedor .subcontenedor .contenido{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    flex: auto;
}

.contenedor .subcontenedor .contenido .icon{
    margin-right: 10px;
}

.contenedor .subcontenedor .contenido .mensaje .title{
    font-weight: bolder;
}

.contenedor .subcontenedor .actions{
    padding: 10px 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor .subcontenedor .actions button{
    border: none;
    padding: 15px;
    min-width: 120px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.contenedor .subcontenedor .actions .btn-descargar{
    background-color: #2062c0;
    color: white;
}
.contenedor .subcontenedor .actions .btn-volver{
    background-color: white;
    min-width: 130px;
    border: solid 1px #ccc;
}
.contenedor .subcontenedor .actions .btn-descargar:hover{
    background-color: #194d95;
    min-width: 130px;
}

.contenedor .subcontenedor .actions .btn-volver:hover{
    background-color: #eee;
    min-width: 130px;
    border: solid 1px #ccc;
}

@media (max-width:600px){
    .contenedor .subcontenedor{
        width: 80%;
    }

    .contenedor .subcontenedor .actions{
        flex-direction: column;
    }
}